<html ng-app>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<script type="text/javascript" src="../node_modules/angular/angular.js"></script>
		<link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.css">
	</head>
	<body>
		<h1>Filters</h1>
		<!-- data-ng-init and ng-init mean the same thing - however the html spec allows custom attributes which start with data- hence many people prefer this -->
		<div ng-init="value1='i am a string';value2=5;value3=['array entry C', 'array entry B', 'array entry A']">
			<script>
			</script>
			<p>Filters allow us to change data using | syntax - you can define your own ones but here I'm going to show a couple (there aren't many) built in ones</p>
			<p>raw value1: {{value1}}</p>
			<p>value1 as uppercase: {{value1|uppercase}}</p>
			<p>raw value2 : {{value2}}</p>
			<p>value2 as currency : {{value2|currency}}</p>
			<p>value2 as currency with £ option passed as a parameter: {{value2|currency:"£"}}</p>
			<p>using ng-repeat to iterate over an array:</p>
			<p>original array</p>
			<p ng-repeat="item in value3">item in array: {{item}}</p>
			<p>sorted array</p>
			<p ng-repeat="item in value3|orderBy">item in array: {{item}}</p>
			<p>note that the code uses ng-init to set the data - this is pretty bad practise but its a handy way to chuck data into a scope with creating controllers etc</p>
			<p>this is the full list of built-in filters</p>
			<p>
				<ul>			
					<li>filter</li>
					<li>currency</li>
					<li>number</li>
					<li>date</li>
					<li>json</li>
					<li>lowercase</li>
					<li>uppercase</li>
					<li>limitTo</li>
					<li>orderBy</li>
				</ul>
			</p>
		</div>
	</body>
</html>
