<html ng-app>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<script type="text/javascript" src="../node_modules/angular/angular.js"></script>
		<script type="text/javascript" src="../node_modules/angular-animate/angular-animate.js"></script>
		<link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.css">
		<link href="styles.css" rel="stylesheet" type="text/css">
	</head>
	<body ng-app="ngAnimate">
		<h1>Animate</h1>
		<div class="jumbotron" class="jumbotron">
				<div class="base-class" ng-class="var1">ngClass</div>
				<input type="button" value="test" ng-click="var1='my-class'"></input>
				<input type="button" value="reset" ng-click="var1=''"></input>
		</div>
		<div class="jumbotron">
				<div>ngShow/ngHide</div>
				<input type="button" value="test"></input>
				<input type="button" value="reset"></input>
		</div>
		<div class="jumbotron">
				<div>Include</div>
				<input type="button" value="test"></input>
				<input type="button" value="reset"></input>
		</div>
		<div class="jumbotron">
				<div>Rediveat</div>
				<input type="button" value="test"></input>
				<input type="button" value="reset"></input>
		</div>
		<div class="jumbotron">
				<div>Switch</div>
				<input type="button" value="test"></input>
				<input type="button" value="reset"></input>
		</div>
		<div class="jumbotron">
				<div>View</div>
				<input type="button" value="test"></input>
				<input type="button" value="reset"></input>
		</div>
	</body>
</html>
