<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<script type="text/javascript" src="../node_modules/angular/angular.js"></script>
		<script type="text/javascript" src="../node_modules/angular-animate/angular-animate.js"></script>
		<link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.css">
		<link href="styles.css" rel="stylesheet" type="text/css">
	</head>
	<body ng-app="ngAnimate">
		<h1>Animate</h1>

		<p>Note: see in the code that we're calling the ngAnimate controller (<body ng-app="ngAnimate">)</p>
		<p>Note: the samples I used to populate this weren't very clear. I'll come back to this once I know a little more about css animate/transition</p>
		<div class="jumbotron" class="jumbotron">
				<div class="base-class" ng-class="var1">ngClass</div>
				<input type="button" value="test" ng-click="var1='my-class'"></input>
				<input type="button" value="reset" ng-click="var1=''"></input>
		</div>
		<div class="jumbotron">
				<div class="check-element sample-show-hide" ng-show="var2" style="clear:both;">ngShow/ngHide</div>
				<input type="button" value="test" ng-click="var2=true"></input>
				<input type="button" value="reset" ng-click="var2=false"></input>
				<div class="base-class">for some reason I needed to change &lt;html ng-app&gt; to plain old &lt;html&gt; in order for this to work</div>
		</div>
		<div class="jumbotron">
				<div>Include</div>
				<input type="button" value="test"></input>
				<input type="button" value="reset"></input>
		</div>
		<div class="jumbotron">
				<div>Repeat</div>
				<input type="button" value="test"></input>
				<input type="button" value="reset"></input>
		</div>
		<div class="jumbotron">
				<div>Switch</div>
				<input type="button" value="test"></input>
				<input type="button" value="reset"></input>
		</div>
		<div class="jumbotron">
				<div>View</div>
				<input type="button" value="test"></input>
				<input type="button" value="reset"></input>
		</div>
	</body>
</html>
